<h3>Welcome <%=@profile.first_name%> <%=@profile.last_name%></h3>

<ul>
  <li>Your username: <%=@profile.username%></li>
  <li>Your first name: <%=@profile.first_name%></li>
  <li>Your last name: <%=@profile.last_name%></li>
  <li>Your email: <%=@profile.email%></li>
  <li>Your phone number: <%=@profile.phone_number%></li>
</ul>

<a href="/users/profile/edit">Edit your personal profile</a></br>

